button {
    all: unset;
    display: inline-block;
    cursor: pointer;
}

.button {
    display: flex;
    position: relative;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    border-radius: 10pc;
    color: var(--color-dark);
    background-color: rgba(0, 0, 0, 0);
    padding: 1rem 2rem;
    width: max-content;
    transition: 0.3s;
    font-size: var(--size-sm);

    &--primary {
        background-color: var(--color-bright);
        color: var(--color-main);
        width: 100%;

        svg {
            display: none;
        }

        @include sm {
            width: max-content;
            svg {
                display: block;
            }
        }

        &:hover {
            background-color: var(--color-dark);
            color: var(--color-bright);
        }
    }

    &--second {
        background-color: var(--color-grey);

        &:hover {
            background-color: var(--color-main);
            color: var(--color-bright);

            &::before {
                content: "•";
                position: absolute;
                left: var(--size-xs);
            }
        }
    }

    &--third {
        border: 1px solid var(--color-bright);
        color: var(--color-bright);

        &:hover {
            border-color: var(--color-dark);
            color: var(--color-dark);
        }

        @include sm {
            border: 1px solid var(--color-dark);
            color: var(--color-dark);

            &:hover {
                border-color: var(--color-main);
                color: var(--color-main);
            }
        }
    }
}
