.card {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    background-color: var(--color-grey);
    aspect-ratio: 1;
    padding: var(--size-sm);
    color: var(--color-main);
    max-height: 800px;
    width: 100%;

    @include xs {
        aspect-ratio: .5;
    }

    @include md {
        border-radius: 50px;
    }

    &--image {
        background: var(--image-url);
        background-size: cover;
        color: var(--color-bright);

        .card__number {
            color: rgba(0, 0, 0, 0);
            -webkit-text-stroke: 2px var(--color-bright);
            text-stroke: 2px #000;
        }
    }

    &--color {
        background-color: var(--color-main);
        color: var(--color-bright);
    }


    &__number {
        font-size: var(--size-xxxl);
        font-weight: 800;
        line-height: .8;
        margin-left: auto;
    }

    &__text {
        font-size: var(--size-sm);
        margin-top: auto;

        @include xs {
            // padding-top: 100px;
            font-size: var(--size-md);
        }
    }
}