* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    font-family: Main, Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-wrap: wrap;
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-grey);
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

li {
    text-decoration: none;
    list-style: none;
}

.container {
    margin: var(--size-sm);
}

.headline {
    font-size: var(--size-xl);
    color: var(--color-main);
    line-height: 1;
    padding-top: var(--size-md);
    padding-bottom: var(--size-xs);
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;

    @include sm {
        hyphens: none;
    }
}

.paragraph {
    font-size: var(--size-sm);
}

.mobile-only {
    display: flex !important;

    @include sm {
        display: none !important;
    }
}

.tablet-only {
    display: none !important;

    @include sm {
        display: flex !important;
    }
}

.lg-only {
    display: none !important;

    @include lg {
        display: flex !important;
    }
}

.before-lg-only {
    display: flex !important;

    @include lg {
        display: none !important;
    }
}

.wrapper {
    z-index: 1;
}

.unite {
    display: flex;
    gap: var(--size-sm);

    &--column {
        flex-direction: column;
    }
}

.extra-bold {
    font-weight: 800;
}

.upper {
    z-index: 1 !important;
}

.upper-2 {
    z-index: 2 !important;
}

.w100 {
    width: 100% !important;
}
