.footer {
    min-height: auto;
    position: relative;
    align-items: start;
    background-color: var(--color-main);
    margin: 0;
    color: var(--color-bright);
    border-radius: 25px 25px 0 0;
    padding: var(--size-sm) 0;

    @include md {
        border-radius: 50px 50px 0 0;
    }

    &__content {
        display: grid;
        min-height: 100%;
        padding: var(--size-sm);
        z-index: 3;
        gap: var(--size-sm);
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;

        //   margin: auto;
        @media (min-width: 1200px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: auto;
            gap: var(--size-sm);
        }
    }

    &__logo {
        height: calc(var(--size-sm) * 1.5);
        grid-column: 1 / -1;
        display: block;

        @media (min-width: 1200px) {
            display: none;
        }
    }

    &__links {
        display: none;

        @media (min-width: 1200px) {
            display: flex;
            flex-direction: column;
            gap: var(--size-sm);
        }
    }

    &__contacts {
        grid-column: 1 / -1;

        @media (min-width: 1200px) {
            grid-column: 4;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: var(--size-sm);
    }

    &__label {
        font-size: var(--size-sm); // 32px mobile
        font-weight: 600;
        margin-bottom: var(--size-sm);
        line-height: 1.2;

        @media (min-width: 1200px) {
            font-size: 24px;
        }

        @media (min-width: 1400px) {
            font-size: 36px;
        }
    }

    &__sub-label {
        font-size: var(--size-sm);
        font-weight: 600;
        color: rgba(255, 255, 255, 0.8);
        margin: var(--size-xs) 0 var(--size-xs);

        @media (min-width: 1200px) {
            font-size: 14px;
        }

        @media (min-width: 1400px) {
            font-size: 20px;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: var(--size-xs);
        font-size: var(--size-sm); // 20px mobile

        a,
        span {
            color: var(--color-white);
            text-decoration: none;
            transition: opacity 0.3s;
            line-height: 1.2;
            font-size: var(--size-sm); // 20px mobile
        }

        a:hover {
            opacity: 0.8;
            text-decoration: underline;
        }

        @media (min-width: 1200px) {

            a,
            span {
                font-size: 14px;
            }
        }

        @media (min-width: 1400px) {

            a,
            span {
                font-size: 20px;
            }
        }
    }

    &__social {
        display: flex;
        flex-direction: column;
        margin-top: var(--size-sml);
        gap: var(--size-sm);

        @media (min-width: 1200px) {
            margin-top: var(--size-sm);
            flex-direction: column;
            align-items: flex-start;
            gap: var(--size-sm);
        }
    }

    &__icons {
        display: flex;
        gap: var(--size-sm);

        a {
            transition: opacity 0.3s;

            &:hover {
                opacity: 0.7;
            }
        }

        img {
            width: 24px;
            height: 24px;

            @media (min-width: 1200px) {
                width: 20px;
                height: 20px;
            }
        }
    }

    &__link {
        font-size: var(--size-sm);
        color: var(--color-white);
        text-decoration: underline;
        transition: opacity 0.3s;

        &:hover {
            opacity: 0.8;
        }

        @media (min-width: 1200px) {
            font-size: 14px;
        }

        @media (min-width: 1400px) {
            font-size: 16px;
        }
    }

    &__copy {
        grid-column: 1 / -1;
        line-height: 1.2;
        display: flex;
        justify-content: space-between;
        gap: var(--size-sm);
        flex-direction: column;
        font-size: var(--size-sm);
        margin-top: var(--size-sm);
        padding-top: var(--size-sm);
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        opacity: 0.7;

        @media (min-width: 640px) {
            flex-direction: row;
        }

        @media (min-width: 1200px) {
            font-size: 12px;
        }

        @media (min-width: 1400px) {
            font-size: 14px;
        }
    }

    &__copy-text {
        max-width: 550px;
        width: 100%;
    }
}