:root {
    // colors
    --color-main: #30458c;
    --color-grey: #e4e4e4;
    --color-bright: #fff;
    --color-dark: #000;
    --color-red: #b41313;

    // sizes

    --size-xxxs: clamp(8px, calc((1vw + 1vh) * 0.6), 12px);
    --size-xs: clamp(12px, calc((1vw + 1vh) * 0.8), 16px);
    --size-sm: clamp(16px, calc((1vw + 1vh) * 1), 20px);
    --size-md: clamp(20px, calc((1vw + 1vh) * 1.2), 24px);
    --size-lg: clamp(24px, calc((1vw + 1vh) * 2), 32px);
    --size-xl: clamp(32px, calc((1vw + 1vh) * 3), 48px);
    --size-xxl: clamp(48px, calc((1vw + 1vh) * 5), 80px);
    --size-xxxl: clamp(64px, calc((1vw + 1vh) * 10), 120px);
}
