.speaker {
    position: relative;

    @include xxxl {
        transform: translateX(20%);
    }

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        aspect-ratio: 1;
        padding: 0 20vw;
        transform: translateY(-5%);
        max-width: 1200px;

        @include xl {
            padding: 0 clamp(1px, 15vw, 300px) 0 20vw;
        }

        @include xxl {
            padding: 0 clamp(1px, 15vw, 100px) 0 20vw;
        }


    }

    &__line {
        position: absolute;
        // left: -20vw;
        // right: -20vw;
        width: 150%;
        top: -10vw;
        // width: 400px;
        z-index: 0;
        max-width: 2000px;

        &--bottom {
            left: 56%;
            // right: 0;
            top: auto;
            bottom: -4%;
            // width: 100%;

            @include xl {

                // width: 100%;
                // bottom: -3%;
                bottom: -.5%;
                // right: auto;
            }

            @include xxl {
                width: 100%;
                left: calc(1000px);
            }

            @include xxxl {
                left: calc(1000px + 5vw);
            }
        }

        &--top {
            // left: 0;
            left: -80%;
            top: -20%;
            bottom: auto;

            // width: 100%;
            @include xl {
                left: -70%;
            }

            @include xxl {
                width: 100%;
                left: -1200px;
                top: -400px;
            }
        }
    }

    &__paragraph {
        color: var(--color-main);
        font-size: var(--size-sm);
        width: 80%;

        @include sm {
            font-size: var(--size-md);
        }

        @include xl {
            width: 95%;
        }
    }

    &__background {
        border-radius: 50px;
        background-color: var(--color-main);
        position: absolute;
        left: 15%;

        top: 12%;
        width: 75%;
        max-width: 800px;
        aspect-ratio: 1;
        z-index: 0;
        transform: rotate(-15deg);
        box-shadow: var(--size-xs) 4px 4px rgba(0, 0, 0, 0.25);

        &::before {
            content: "";
            border-radius: 50px;
            background-color: var(--color-grey);
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            width: 95%;
            aspect-ratio: 1;
            z-index: 0;
            transform: rotate(-15deg);
        }
    }

    &__image {
        position: absolute;
        right: -7vw;
        width: 50vw;
        max-width: 800px;
        bottom: 0;

        @include lg {
            bottom: 2%;
            right: -7.5vw;
        }

        @include xl {
            bottom: 7%;
            right: -5vw;
            left: 53vw;
        }

        @include xxl {
            bottom: 7%;
            left: calc(950px);
        }

        @include xxxl {
            bottom: 9%;
            left: calc(1000px + 4vw);
        }
    }
}