.video {
    margin-top: 0;

    &__content {
        border-radius: 25px;
        padding: var(--size-sm);
        height: 60vh;
        background-color: var(--color-main);

        @include md {
            border-radius: 50px;
        }
    }

    &__headline {
        color: var(--color-bright);
    }
}