@charset "UTF-8";
/* Font-face подключения в вашем стиле */
@font-face {
  font-family: "Main";
  src: url("fonts/Montserrat-SemiBold.ttf") format("truetype"), url("fonts/Montserrat-SemiBold.woff") format("woff"), url("fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Main";
  src: url("fonts/Montserrat-Regular.ttf") format("truetype"), url("fonts/Montserrat-Regular.woff") format("woff"), url("fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Main";
  src: url("fonts/Montserrat-Light.ttf") format("truetype"), url("fonts/Montserrat-Light.woff") format("woff"), url("fonts/Montserrat-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Main";
  src: url("fonts/Montserrat-ExtraLight.ttf") format("truetype"), url("fonts/Montserrat-ExtraLight.woff") format("woff"), url("fonts/Montserrat-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Main";
  src: url("fonts/Montserrat-Medium.ttf") format("truetype"), url("fonts/Montserrat-Medium.woff") format("woff"), url("fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Second";
  src: url("fonts/Roboto-Medium.ttf") format("truetype"), url("fonts/Roboto-Medium.woff") format("woff"), url("fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Second";
  src: url("fonts/Roboto-Regular.ttf") format("truetype"), url("fonts/Roboto-Regular.woff") format("woff"), url("fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.main {
  background-color: var(--color-bright);
  border-radius: 25px 25px 0 0;
  margin: 20px;
}

.menu {
  display: none;
}

.logo {
  display: flex;
  gap: var(--size-sm);
}

.button {
  display: flex;
  gap: 1rem;
  align-items: center;
  border-radius: 10pc;
  color: var(--color-dark);
  background-color: rgba(0, 0, 0, 0);
  padding: 1rem 2rem;
  width: -moz-max-content;
  width: max-content;
  transition: 0.3s;
}
.button--primary {
  background-color: var(--color-bright);
  color: var(--color-main);
}
.button--primary:hover {
  background-color: var(--color-dark);
  color: var(--color-bright);
}
.button--second {
  background-color: var(--color-grey);
}
.button--third {
  border: 1px solid var(--color-bright);
}

.hero__description {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  border-radius: 25px;
  background-image: url(./images/bg.jpg);
  background-size: cover;
  background-position: 0;
  overflow: hidden;
}
.hero__description::after {
  content: "";
  position: absolute;
  left: 0;
  right: 50%;
  top: 0;
  bottom: 0;
  background-color: var(--color-main);
  z-index: 0;
}
.hero__description::before {
  content: "";
  position: absolute;
  right: 0;
  left: 50%;
  top: 0;
  bottom: 0;
  opacity: 0.5;
  background-color: var(--color-main);
  z-index: 0;
}
.hero__wrapper {
  padding: 10px;
  color: var(--color-bright);
  height: 100%;
  z-index: 1;
}
.hero__title {
  margin-top: auto;
  margin-bottom: auto;
}

:root {
  --color-main: #30458c;
  --color-grey: #e4e4e4;
  --color-bright: #fff;
  --color-dark: #000;
  --size-xs: 12px;
  --size-sm: 16px;
  --size-md: 24px;
  --size-lg: 32px;
  --size-xl: 48px;
  --size-xxl: 64px;
  --size-xxxl: 96px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Main, Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--color-grey);
}

a {
  text-decoration: none;
}

.container {
  margin: 20px;
}

.headline {
  font-size: 40px;
}

.paragraph {
  font-size: 16px;
}

.mobile-only {
  display: none;
}
@media (min-width: 768px) {
  .mobile-only {
    display: flex;
  }
}

.wrapper {
  z-index: 1;
}

.unite {
  display: flex;
  gap: var(--size-sm);
}
.unite--column {
  flex-direction: column;
}