@import "./scss/fonts";
@import "./scss/sizes";
@import "./scss/main";
@import "./scss/menu";
@import "./scss/button";
@import "./scss/hero";

:root {
    --color-main: #30458c;
    --color-grey: #e4e4e4;
    --color-bright: #fff;
    --color-dark: #000;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Main, Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--color-grey);
}

a {
    text-decoration: none;
}

.container {
    margin: 20px;
}

.headline {
    font-size: 40px;
}

.paragraph {
    font-size: 16px;
}

.mobile-only {
    display: none;

    @include sm {
        display: flex;
    }
}
.wrapper {
    z-index: 1;
    display: flex;

    &--column {
        flex-direction: column;
    }
}
